.codeEditor {
  height: 100vh;
}

.codeEditor__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  padding: 20px;
}

.codeEditor__headerLeft {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.codeEditor__avatar {
  margin-right: 10px;
  cursor: pointer;
}

.codeEditor__avatar:hover {
  opacity: 0.7;
}

.codeEditor__headerLeft > h3 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 750;
  opacity: 0.8;
}

.codeEditor__headerMiddle {
  display: flex;
  align-items: center;
}

.codeEditor__headerMiddle > input {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(241, 239, 235);
}

.codeEditor__headerMiddle > button {
  text-transform: capitalize !important;
  background-color: rgb(226, 226, 226);
  font-size: 15px;
  height: fit-content;
  margin-left: 10px;
}

.codeEditor__headerRight {
  display: flex;
  align-items: center;
}

.toggle__icon {
  height: 25px;
  padding: 5px;
  object-fit: contain;
  background-color: rgb(93, 93, 93);
  border-radius: 30px;
}

.codeEditor__body {
  display: flex;
}

.codeEditor__bodyLeft {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 80vh;
  padding: 0 5px;
  background-color: rgb(255, 255, 255);
  border-right: 2px solid whitesmoke;
}

.codeEditor__bodyLeft--dark {
  background-color: rgb(30, 30, 30);
  color: rgb(220, 220, 220);
}

.codeEditor__bodyLeft > h3 {
  font-size: 15px;
  font-weight: 750;
  letter-spacing: 2px;
  border-bottom: 1px solid whitesmoke;
  margin: 5px 0;
  padding: 2px 5px;
}

.codeEditor__files {
  overflow: scroll;
}

.codeEditor__files::-webkit-scrollbar {
  display: none;
}

.codeEditor__bodyRight {
  flex: 0.8;
}

.codeEditor__footer {
  display: grid;
  place-items: center;
  margin-top: 8px;
}
